<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user account</title>
</head>
<body>
    <h1>success</h1>

    <a href="/user_logout">logout</a>

    <br><br>
    id: {{user.id}}<br>
    name: {{user.full_name}}<br>
    email: {{user.email}}<br>
    created_at: {{user.created_at}}<br>
    updated_at: {{user.updated_at}}<br>

</body>
</html>