<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <h1>Dojo Survey</h1>

    {% if session.location == None %}
        how about this idea
    {% endif %}
    
    <form action='/collect_results' method='post'>
        <label for='name'>Your Name:</label>
        <input type='text' name='name' value="{{session.name}}" required><br>
        <label for="location">Location:</label>
        <select name="location" required>
            <option value="" {% if "location" not in session %} selected {% endif %}>select city</option>
            <option value="San Jose" {% if session.location == "San Jose" %} selected {% endif %}>San Jose</option>
            <option value="Seattle" {% if session.location == "Seattle" %} selected {% endif %}>Seattle</option>
            <option value="Chicago" {% if session.location == "Chicago" %} selected {% endif %}>Chicago</option>
        </select><br>
        <label for="language">Programming Language:</label>
        <select name="language" required>
            <option value="" {% if "language" not in session %} selected {% endif %}>select language</option>
            <option value="Java Script" {% if session.language == "Java Script" %} selected {% endif %}>Java Script</option>
            <option value="Python" {% if session.language == "Python" %} selected {% endif %}>Python</option>
            <option value="C#" {% if session.language == "C#" %} selected {% endif %}>C#</option>
        </select><br>
        <label for='comment'>Comment:</label>
        <input type='text' name='comment' value="{{session.comment}}" required><br>
        <input type='submit' value='Submit'>
    </form>

</body>
</html>