<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojos ninjas</title>
</head>
<body>
    <h1>{{dojo.name}} ninjas</h1>
    <table>
        <tr>
            <th>name</th>
            <th>age</th>
        </tr>
        {% for ninja in dojo.ninjas %}
        <tr>
            <td>{{ninja.full_name}}</td>
            <td>{{ninja.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="/dojos">Home</a>
</body>
</html>