<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
</head>
<body>
    <h1>New Book</h1>
    <form action='/create_book' method='post'>
        <label for='title'>Title:</label>
        <input type='text' name='title' required><br>
        <label for='num_of_pages'>Number of Pages:</label>
        <input type='number' name='num_of_pages' required><br>
        <input type='submit' value='Create'>
    </form><br><br><br>

    <h1>All Books</h1>
    {% for book in books %}
        <a href="/books/{{book.id}}">{{book.title}}</a><br>
    {% endfor %}
    <br><br><br>
    <a href="/authors">Home</a>

</body>
</html>